body
{
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 23px;
}
.copy_right_footer
{
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: gray;
  line-height: 3;
  text-align: center;
}
img
{
  width: 92px;
  height: 92px;
}